<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FormularioTOP5.Properties.Settings.equipodConnectionString"
            connectionString="Data Source=C02PC02\SQLEXPRESS01;Initial Catalog=equipod;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>